
td {
  border: thin red solid;
  padding-left: 10px;
  padding-right: 10px;
  /*padding-bottom: 20px;*/
}

h2,h4 {
  padding-top: 20px;
  margin-bottom:20px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}


button {
  background-color: rgb(0,126,229);
  color: white;
  width: 200;
  height: 40;
}

.company-name {
  font-family: 'Passion One', cursive;
  background-color: rgb(246,52,64);
  color: white;
  font-size: 32;
  padding-left: 10px;
  padding-right: 10px;
}

.top-banner {
  background-color: rgb(246,52,64);
  color: white;
  font-size: 16;
  padding-left: 10px;
  padding-right: 10px;
}

.main-content {
  width: 100%;
}

.hero {
  text-align: center;
  color: white;
  background: url(main-hero.jpg) no-repeat center ;
  background-size: cover;
  height: 400;
  font-family: 'Montserrat', sans-serif;
}

.app-hero {
  text-align: center;
  vertical-align: middle;
  color: white;
  background: url(download-hero.jpg) no-repeat center ;
  background-size: cover;
  height: 400;
  font-family: 'Montserrat', sans-serif;
}

.heading-row {
  text-align: center;
  vertical-align: middle;
  padding-bottom: 20px;
}

.how-to-cell {
  text-align: center;
  vertical-align: top;
  padding-bottom: 10px;
}

.how-to-img {
  width: 200px;
  border-radius: 50%;
}

.sound-bites {
  background-color: rgb(238, 238, 238);
  text-align: center;
  vertical-align: middle;
}
.actual-sound-bites {
  background-color: rgb(238, 238, 238);
  text-align: center;
  vertical-align: top;
  padding-bottom: 10px;
}

.soundbites-img {
  width: 50px;
  border-radius: 50%;
}

.tagline {
  font-size: 22px;
}

.discover-better-food-cell{
  background-color: rgb(238, 238, 238);
  text-align: center;
  vertical-align: top;
}
.discover-better-food-img{
  width: 200px;
  border-radius: 50%;
}

.discover-better-food-txt{
  margin-top: 45px;
}

.about-foodhub-cell {
  text-align: center;
  vertical-align: top;
}
.about-foodhub-details {
  text-align: left;
  vertical-align: top;
  padding-top: 10px;
}

.bottom-navigation-cell {
  background-color: rgb(50, 50, 170);
  padding-top: 10px;
  vertical-align: top;
  color: white;
}

.li-footer {
  padding-bottom: 10px;
}

.input-field {
  color: grey;
  margin: 1px;
}
