
td {
  border: thin red solid;
}
.company-name {
  font-family: 'Passion One', cursive;
  background-color: rgb(246,52,64);
  color: white;
  font-size: 28;
}
.top-banner {
  background-color: rgb(246,52,64);
  color: white;
  font-size: 18;
}

.main-content {
  width: 100%;
}

.hero {
  text-align: center;
  color: white;
  background: url(main-hero.jpg) no-repeat center ;
  background-size: cover;
  height: 400;
  font-family: 'Montserrat', sans-serif;
}

.app-hero {
  text-align: center;
  color: white;
  background: url(download-hero.jpg) no-repeat center ;
  background-size: cover;
  height: 400;
  font-family: 'Montserrat', sans-serif;
}

.heading-row {
  text-align: center;
}

.how-to-cell {
  text-align: center;
  vertical-align: top;
}

.how-to-img {
  width: 200px;
  border-radius: 50%;
}

.soundbites-img {
  width: 100px;
  border-radius: 50%;
}

body {
  font-family: 'Montserrat', sans-serif;
}



button {
  background-color: rgb(0,126,229);
  color: white;
  width: 200;
  height: 40;
}
