.main-content {
  width: 100%;
}

td {
border: thin red solid;
}

.how-to-images {
  width: 200px;
  border-radius: 50%;
}
.how-to-cell {
  text-align: center;
}
.hero {
  color: white;
  text-align: center;
  background: url("main-hero.jpg")
  no-repeat center center;
  background-size: cover;
  height: 300px;
}
button {
  background-color: rgb(0,120,229);
  color: white;
  height: 40px;
  width: 200px;
  border-radius: 5px;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.heading-row {
  text-align: center;
}
.sound-bites-images {
  width: 50px;
  border-radius: 50%;
}
.sound-bites-cell {
  text-align: center;
}
.download {
  color: white;
  text-align: center;
  background: url("download-hero.jpg")
  no-repeat center center;
  background-size: cover;
  height: 300px;
}
.app-badge-images {
  width: 200px;
  border-radius: 5px;
}
.why-images {
  width: 200px;
  border-radius: 50%;
}
.why-cell {
  text-align: center;
}
.footer {
  background-color: rgb(50, 50, 170);
  text-color: white;

}
.h4-footer {
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.li-footer {
  color: white;
  margin-bottom: 10px;
}

.navbar {
  background-color: rgb(246,52,64);
  color: white;
}
