.main-content {
  width:100%;
}

td {
  border: thin red solid;
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
}

.hero {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background: url("main-hero.jpg") no-repeat center center;
  background-size: cover;
  height: 300px;
}

button {
  background-color: rgb(0, 126, 229);
  color: white;
  height: 40px;
  width: 200px;
  border-radius: 5px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.navbar-a {
  background-color: rgb(246,52,64);
  color: white;
  text-decoration: none;
  vertical-align: middle;
  font-family: 'Passion One';
  font-size: xx-large;
}

.navbar-b {
  background-color: rgb(246,52,64);
  color: white;
  text-decoration: none;
  vertical-align: middle;
}

.navbar-c {
  background-color: rgb(246,52,64);
  color: white;
  text-decoration: none;
  vertical-align: middle;
}

.heading-row {
  text-align: center;
}

.sound-bites-heading-row {
  text-align: center;
  background-color: rgb(238, 238, 238);
}

.how-to-image{
  width: 200px;
  border-radius: 50%;
}

.how-to-cell{
  text-align: center;
}

.sound-bites-image{
  width: 50px;
  border-radius: 50%;
}

.sound-bites-cell{
  text-align: center;
  background-color: rgb(238, 238, 238);
}

.download {
  background: url("download-hero.jpg") no-repeat center center;
  color: white;
  text-align: center;
}

.why-order-heading-row {
  text-align: center;
  background-color: rgb(238, 238, 238);
}

.why-order-image {
  width: 200px;
  border-radius: 50%;
}

.why-order-content {
  text-align: center;
  background-color: rgb(238, 238, 238);
}

.app-badge {
  width: 200px;
}

.centered {
  text-align: center;
}

.footer {
  background-color: rgb(50, 50, 170);
  color: white;
  font-size: 16px;
  font-weight: 700;
}

h4 {
  margin-bottom: 10px;
}

.list-footer {
  color: white;
  margin-bottom: 10px;
  font-weight: 200;
}

.margin-above-top-xs {
  margin-top: 10px;
}

.margin-above-top-sm {
  margin-top: 20px;
}

.margin-above-top-md {
  margin-top: 50px;
}

.margin-above-top-lg {
  margin-top: 150px;
}

.margin-below-bottom-xs {
  margin-bottom: 10px;
}

.margin-below-bottom-sm {
  margin-bottom: 20px;
}

.margin-below-bottom-md {
  margin-bottom: 50px;
}

.margin-below-bottom-lg {
  margin-bottom: 150px;
}

.margin-below-bottom-xl {
  margin-bottom: 200px;
}
